.App {
  text-align: center;
}

.empleado{
  color: darkgray;
  background-color: blue;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.persona{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: darkgray;
  background-color: blue;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}